body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 允许页面内容根据其内容的高度自动扩展 */
  background: linear-gradient(to bottom, #a0c7c9, #f6d68b); /* 渐变背景 */
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1B3B2A;
}

.search-bar {
  background-color: #264D3D;
  border: none;
  padding: 5px 10px;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
  cursor: pointer;
}

.user-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em; /* 调整标题的大小以提高可见性 */
}

.task-cards {
  display: flex;
  justify-content: space-between; /* 修改为 space-between 以均匀分布 */
  margin-bottom: 40px;
  padding: 0 20px; /* 增加一些左右的内边距，确保卡片不会太贴边 */
}

.task-card {
  background-color: #f7a823;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影来提升卡片的层次感 */
}

.task-card h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.task-card p {
  font-size: 2.5em;
  margin: 0;
}

.task-card span {
  font-size: 0.8em;
}

.charts {
  display: flex;
  justify-content: space-between; /* 确保图表之间的分布一致 */
  padding: 0 20px; /* 增加内边距，确保图表不会太贴边 */
  flex-wrap: wrap; /* 允许图表在小屏幕上换行显示 */
}

.chart {
  background-color: #f7a823;
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  text-align: center;
  margin-bottom: 20px; /* 为每个图表增加下边距，以防图表之间太紧密 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 同样为图表添加阴影 */
}

.footer {
  text-align: center;
  padding: 10px;
}
